* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  --chess-dark: #4c566a;
  --chess-light: #d8dee9;
  --border: #2e3440;
  --red: #bf616a;
  --green: #a3be8c;
  --accent-blue: #5e81ac;
  --accent-orange: #d08770;
  --dark: #2e3440;
  --light: #eceff4;
  background-color: var(--dark);
  color: var(--light);
}

body {
  min-height: 101vh;
}

button,
input {
  padding: 0.5em 1em;
  border: 2px solid var(--accent-blue);
  transition: border-color 0.2s linear;
}

button:hover {
  cursor: pointer;
}

button:hover,
button.expanded,
input:active,
input:focus {
  border-color: var(--green);
}

#controls {
  margin: 1em auto;
  text-align: center;
}

#info {
  max-height: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1em auto;
  transition: opacity 0.6s linear, max-height 0.5s ease-in-out;
}

#info.expanded {
  opacity: 1;
  max-height: 100vh;
}

#info,
#info p {
  background-color: transparent !important;
}

#info div.square {
  margin: 1em auto;
  width: 3.75vw;
  height: 3.75vw;
  transform: none;
}

#info-active,
#info-possible,
#info-capturable {
  height: 3.75vw;
  width: 3.75vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid var(--chess-dark);
  margin: 1em auto;
}

#info-active {
  background-color: var(--accent-blue);
}

#info-possible {
  background-color: var(--green);
}

#info-capturable {
  background-color: var(--red);
}

#board-columns-top,
#board-columns-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}

#board-columns-top.flipped,
#board-columns-bottom.flipped {
  flex-direction: row-reverse;
}

#board-columns-top div,
#board-columns-bottom div {
  width: 3.75vw;
  text-align: center;
}

#board-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#board-rows-left,
#board-rows-right {
  margin: calc(1em + 5px) 1em;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

#board-rows-left div,
#board-rows-right div {
  line-height: 3.75vw;
  vertical-align: middle;
  text-align: center;
}

#board-rows-left.flipped,
#board-rows-right.flipped {
  flex-direction: column-reverse;
}

#board {
  margin: 1em;
  display: grid;
  background-color: var(--accent-blue);
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
  width: 30vw;
  height: 30vw;
  border: 5px solid var(--accent-blue);
}

#board.flipped,
.square.flipped {
  transform: rotate(180deg);
}

#board,
#board.flipped,
.square,
.square.flipped {
  transition: background-color 200ms linear, transform 1.5s ease-in-out;
}

.square {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid;
}

.square.active {
  background-color: var(--accent-blue);
}

.square.possible {
  background-color: var(--green);
}

.square.capturable {
  background-color: var(--accent-orange);
}

.dark {
  background-color: var(--chess-dark);
  border-color: var(--chess-dark);
}

.light {
  background-color: var(--chess-light);
  border-color: var(--chess-light);
}

#error {
  background-color: var(--red);
  width: 30vw;
  margin: auto;
  margin-bottom: 2em;
  text-align: center;
}

#probabilities {
  background-color: var(--chess-dark);
  width: 30vw;
  border: 5px solid var(--accent-blue);
  margin: 1em auto;
  height: 2em;
}

#prob-white {
  background-color: var(--chess-light);
  width: 15vw;
  height: 2em;
  transition: width 0.5s ease-in-out;
}
